@font-face {
  font-family: Montserrat;
  src: url('@/fonts/Montserrat-VariableFont_wght.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  background: #d9d9d9;
  font-family: Montserrat;
  font-weight: 500;
}

#root {
  .main {
    z-index: 100;
    max-width: 1280px;
    margin: 100px auto 50px auto;
  }
}
