.form {
  background: rgb(137, 137, 137);
  align-self: center;
  max-width: 600px;
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 9px 10px 15px -5px #000000;
  box-shadow: 9px 10px 15px -5px #000000;

  label {
    background: inherit;
    margin: 0 0 0 20px;
  }
}

.resetBtn {
  align-self: flex-end;
  background-color: lightcoral;
  color: darkred;
  height: 1.2rem;
  width: 100px;
  border-radius: 0.6rem;
  margin: 0;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    background-color: red;
  }
}
