@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
  }

* {
    margin: 0px;
    padding: 0px;
    background-color: #d9d9d9;
    color: rgb(53, 53, 53);
    font-family: Montserrat;
    font-weight: 500;
}

.main {
    max-width: 1280px;
    margin: 100px 20px 50px 20px;
}