.form {
  background: rgb(137, 137, 137);
  align-self: center;
  max-width: 600px;
  margin: 0 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 9px 10px 15px -5px #000000;
  box-shadow: 9px 10px 15px -5px #000000;

  &__errorMsg {
    font-size: 0.6rem;
    color: red;
    background: inherit;
    visibility: hidden;

    &_invalid {
      display: block;
      visibility: visible;
    }
  }

  &__nameBlock {
    display: flex;
    flex-wrap: wrap;
    background: inherit;

    textarea {
      border-radius: 1rem;
      padding: 5px 10px;
      width: 91%;
      height: 5rem;
    }
  }

  &__dateBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: inherit;
  }

  &__typesBlock {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    background: inherit;

    p {
      background: inherit;
    }
  }

  &__desc {
    width: 100%;
  }

  label {
    background: inherit;
    margin: 0 0 0 20px;
  }

  &__switchBlock {
    display: flex;
    background: inherit;
    align-items: center;

    p {
      width: 130px;
      background: inherit;
      margin: 0 0 0 20px;
    }
    label {
      background: inherit;
      margin: 0;
    }
    b {
      margin: 0 0 0 20px;
      font-weight: 900;
      background: inherit;
    }
  }
}
